@media (max-width: 511px) {
  /* for phones and smaller devices */
  #nav-buttons {
    display: none;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: darkslategrey;
    width: calc(100% - 10px);
    height: fit-content;
    padding: 5px;
    min-height: fit-content;
    /*transform: translateY(-10px);
    transition: ease-in-out transform ease-in-out;
    transition-behavior: allow-discrete;*/
  }

  .button-img {
    width: auto;
    height: 7vh;
  }

  /* .navbar ul {
    display: block;
  } */

  .navbar a {
    text-align: center;
  }

  #dropdown {
    background: transparent;
    border: none;
  }

  .top-spacer {
    height: calc(7vh + 20px);
  }
}

@media (min-width: 512px) and (max-width: 880px) {
  #hide {
    display: none;
  }
}

@media (min-width: 512px) {
  #dropdown {
    display: none;
  }

  .navbar li {
    float: left;
    width: 100%;
  }

  .navbar ul {
    display: flex;
    justify-content: space-between;
  }

  #nav-buttons {
    display: block;
  }
}
.button_selected {
  background-color: midnightblue;
  color: white;
}

.button {
  background-color: darkslategrey;
  color: white;
}

.button:hover {
  background-color: midnightblue;
  color: white;
}

.navbar ul {
  list-style-type: none;
  background-color: darkslategrey;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  text-decoration: none;
  padding: 10px;
  font-size: xx-large;
  display: block;
  text-align: center;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: darkslateblue;
}

.content {
  background-color: darkkhaki;
  width: calc(100% - 30px);
  height: auto;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

#footer {
  position: static;
  bottom: 0;
  left: 0;
  width: calc(100% - 10px);
  height: calc(8vh);
  padding-left: 10px;
  padding-top: 10px;
  background-color: orange;
}

#popup-help {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  background-color: antiquewhite;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 5px;
  box-shadow: 3px 3px 10px;
}

#close {
  position: absolute;
  bottom: 2%;
  left: 2%;
}

#content-header {
  text-align: center;
}

#help {
  float: right;
  margin-right: 10px;
}

.squirrel {
  height: 50%;
  margin-top: 5px;
}

#reset-hangman {
  display: inline;
}

.resume-body {
  background-color: antiquewhite;
  width: calc(100% - 20px);
  padding: 10px;
  text-align: left;
  font-family: cursive;
}

.resume-header {
  text-align: center;
  font-size: xx-large;
}

.resume-subheader {
  text-align: center;
  font-size: large;
}

.resume-title {
  font-size: larger;
}

.resume-content {
  font-size: medium;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.flex-item {
  background-color: antiquewhite;
  width: 27vw;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  margin: 5px;
}

.git-button {
  background-color: white;
  width: 100px;
  text-decoration: none;
  padding: 3px;
  box-shadow: 2px 2px 10px;
  color: black;
  position: absolute;
  bottom: 5%;
}
